body{
    background-color: chocolate;
}

.head{
    color: darkblue;
}

#bglime{
    background-color: lightgreen;
    font-size: 40px;
}

.sec{
    color: red;
}

p{
    color: white;
    font-size: 25px;
}

#para{
    font-size: 18px;
    color: green;
}

strong{
    color: black;
    font-weight: normal;
    font-size: 28px;
}

body p:nth-child(7) {
    color: black;
    font-weight: bold;
}

ol li:nth-child(2) {
    color: darkblue;
}

ol li:nth-child(3) {
    color: red;
}

ul li:nth-child(1) a {
    background-color: yellow;
}

ul li:nth-child(2) a{
    background-color: purple;
}

ul{
    color: white;
}

