*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.main-container{
    #border: 2px solid black;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.second-container{
    #border: 2px solid green;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.image-container{
    #border: 2px solid red;
     display: flex;
}


.form-container{
    #border: 2px solid orange;
    align-self: center;
    padding: 10px 50px;
}

p{
    text-align: center;
    color: #676767;
}

.hello{
    color: black;
    font-size: 26px;
    font-weight: bolder;
}

#email,#password,#button{
    width: 100%;
    height: 7vh;
    border-radius: 10px;
    border: none;
    background-color: white;
}

.para_1{
    margin: 5vh;
}

#email{
    margin-bottom: 3vh;
    color: #676767
}

#password{
    color: #676767
}

#button{
    margin-top: 3vh;
    background-color: #0BA8E6;
    color: white;
}

.member{
    margin-top: 3vh;
}

.register{
    color: #0BA8E6;
}

.forget{
    float: right;
}