*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.first{
    border: 2px solid black;
    background-color: #0BA8E6;
    width: 100%;
    height: 2rem;
    text-align: center;
}